{# multiple content query e.g. in entries and blocks on index.twig needs unique id #}
{% set ranid = random(9999) %}

<div class="card" id="{{ranid}}" fixedposition="{{ card.position }}">
        <div class="card-block">
            <p>
                <small class="text-muted">{{ card.datepublish|localedatetime("%A %B %e") }} by {{ card.user.username }}<br>
                {% if card.taxonomy.tags is defined %}
                 {% for tag in card.taxonomy.tags %}
                     <span class="tags"><a href="{{ paths.root }}tags/{{ tag }}">{{ tag }}</a></span>
                 {% endfor %}
                {% endif %}
                </small>
            </p>
            <h4 class="card-title">
                <a href="{{ card.link }}">{{ card.title }}</a>
            </h4>
            
            {# Responsive image #}
            {% if card.image is not empty %}
            <a href="{{card.link}}">
                {# Get width and height of origin via imageinfo #}
                {% set oimage = {'height': imageinfo(card.image).height, 'width': imageinfo(card.image).width } %}

                {# Set breakpoints (widths), change values for your own breakpoints #}
                {% set rwidth = {'small': '480', 'medium': '640', 'large': '1024', 'xlarge': '1400'} %}

                {# Calculate individual image heights for breakpoints (proportional) #}
                {% set rheight = {'small': oimage.height*rwidth.small/oimage.width, 'medium': oimage.height*rwidth.medium/oimage.width, 'large': oimage.height*rwidth.large/oimage.width, 'xlarge': oimage.height*rwidth.xlarge/oimage.width } %}
                
                {# Only small and medium sizes because of small columns with this type of card #}
                <picture>
                    <source media="(max-width: {{rwidth.small}}{{'px'}})" srcset="{{ card.image|thumbnail(rwidth.small, rheight.small, 'r') }}">
                    <source media="(max-width: {{rwidth.medium}}{{'px'}})" srcset="{{ card.image|thumbnail(rwidth.medium, rheight.medium, 'r') }}">
                    <img src="{{ card.image|thumbnail(rwidth.medium, rheight.medium, 'r') }}" alt="{{ card.imagetitle }}">
                </picture>
            </a>
            {% endif %}
            {% if card.teaser is not empty %}
            <p class="card-text">
                {{ card.teaser }}
            </p>
            {% endif %}
            {% if card.link is not empty %}
            <a href="{{card.link}}" class="btn btn-read-more">
                {{ __('general.phrase.read-more') }}
            </a>
            {% endif %}
        </div>
</div>
