<div class="card" id="{{card.id}}" fixedposition="{{ card.position }}">
        <div class="card-block">
        <!--<div>Id: {{card.id}}</div>-->
            <p>
                <small class="text-muted"><strong>{{ card.datepublish|localedatetime("%A %B %e") }}</strong> by {{ card.user.username }}<br>
                {% if card.taxonomy.tags is defined %}
                 {% for tag in card.taxonomy.tags %}
                     <a href="{{ paths.root }}tags/{{ tag }}"><span class="tags">{{ tag }}</span></a>
                 {% endfor %}
                {% endif %}
                </small>
            </p>
            <h4 class="card-title">
                <a href="{{ card.link }}">{{ card.title }}</a>
            </h4>
            <img class="card-img" src="{{ card.image|thumbnail(600,400,'c') }}" width="100%">
            <p class="card-text">
                {{ card.teaser }}
            </p>
            <a href="{{card.link}}" class="btn btn-read-more">
                Read more
            </a>
        </div>
</div>
