<div class="card">
        <div class="card-block">   
            {% if card.contenttype.name in theme.showmeta %}
            <p>
                <small class="text-muted">{{ card.datepublish|localedatetime("%A %B %e") }} by {{ card.user.username }}<br>
                {% if card.taxonomy.tags is defined %}
                 {% for tag in card.taxonomy.tags %}
                     {% if slug == tag or taxonomy.options[slug] == tag %}
                         <mark>{{ tag }}</mark>
                     {% else %}
                         <span class="tags"><a href="{{ paths.root }}tags/{{ tag }}">{{ tag }}</a></span>
                     {% endif %}
                 {% endfor %}
                {% endif %}
                </small>
            </p>
            {% endif %}
            
            <h4 class="card-title"><a href="{{ card.link }}">{{ card.title }}</a></h4>
            <p class="card-text">{{ card.excerpt(160, false, search|default('')) }}</p>
        </div>
    <p></p>
</div>
