<div class="card" id="{{card.id}}" fixedposition="{{ card.position }}">
        <div class="card-block">
        <!--<div>Id: {{card.id}}</div>-->
        
            {% if card.contenttype.name in theme.showmeta %}
            <p>
                <small class="text-muted"><strong>{{ card.datepublish|localedatetime("%A %B %e") }}</strong> by {{ card.user.username }}<br>
                {% if card.taxonomy.tags is defined %}
                 {% for tag in card.taxonomy.tags %}
                     {% if slug == tag or taxonomy.options[slug] == tag %}
                         <mark>{{ tag }}</mark>
                     {% else %}
                         <span class="tags"><a href="{{ paths.root }}tags/{{ tag }}">{{ tag }}</a></span>
                     {% endif %}
                 {% endfor %}
                {% endif %}
                </small>
            </p>
            {% endif %}
            
            <h4 class="card-title"><a href="{{ card.link }}">{{ card.title }}</a></h4>
            <img class="card-img" src="{{ card.image|thumbnail(600,400,'c') }}"><p></p>
            {# display something introduction-like.. #}
            {% if card.introduction %}
				<p class="card-text">
                     {{ card.introduction }}
                </p>
            {% elseif card.teaser %}
                <p class="card-text">
                    {{ card.teaser }}
                </p>
            {% else %}
                <p class="card-text">
                    {{ card.excerpt(200, false, search|default('')) }}
                </p>
            {% endif %}
        </div>
    <p></p>
</div>
