	
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src={{ asset('js/jquery-3.1.1.slim.min.js', 'theme') }}></script>
    <script src={{ asset('js/tether.min.js', 'theme') }}></script>
    <script src={{ asset('js/bootstrap.min.js', 'theme') }}></script>
    

<script>
//console.log("Width: " + $(window).innerWidth());
//console.log("Boxes: " + "{{boxes|length}}");

var h4x = {{ horizontal|json_encode|raw }};
var h3x = {{ horizontal3x|json_encode|raw }};
var h2x = {{ horizontal2x|json_encode|raw }};
//console.log(JSON.stringify(h3x)); 

// Get divider
function getColumns(records, input) {
    var columns = [];
    for (i = 0; i < records.length; i++) {
        if (i % input == 0) { columns.push(i); } 
    }
    return columns;            
}

// Append records to columns
function appendToColumn(records, start, end) {
     for (i = start; i <= end; i++) {
         if (i >= start && i < end) {
             $('#'+records[i]).append($('#'+records[i+1]));
         }
         else {
             $('#'+records[i+1]).append($('#'+records[i+2]));
         }
     }
     return;
}

function sortLayout(layout, cols) {
    var clear = getColumns(layout, cols);
    
    appendToColumn(layout, clear[0], clear[1]);
    appendToColumn(layout, clear[1]+1, clear[2]+1);
    appendToColumn(layout, clear[2]+2, clear[3]+2);

    console.log(JSON.stringify(clear)); 
    
    return;
}

sortLayout(h3x, 3);

</script>


<!--$(window).bind("resize",function(){
	var width = $(window).innerWidth();
	switch(true) {
		case(width < xxx):
		//your changes here
		break;
		case(width > xxx):
		//your changes here
		break;
		default:
		//your changes here
		}
});   -->

  </body>
</html>
