	
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src={{ asset('js/jquery-3.1.1.slim.min.js', 'theme') }}></script>
    <script src={{ asset('js/tether.min.js', 'theme') }}></script>
    <script src={{ asset('js/bootstrap.min.js', 'theme') }}></script>
    

<script>
//console.log("Width: " + $(window).innerWidth());
//console.log("Boxes: " + "{{boxes|length}}");

var vertical = {{ vertical|json_encode|raw }};
var h4x = {{ horizontal4x|json_encode|raw }};
var h3x = {{ horizontal3x|json_encode|raw }};
var h2x = {{ horizontal2x|json_encode|raw }};

var col = [[],[],[],[]];

for (i = 0; i < vertical.length; i+=1) {
    if (i % 4 == 0) {
        for (j = 0; j < 4; j += 1) {
            if (vertical[i+j] != null) {col[j].push(vertical[i+j])};
        }
    }
}

{# for i in cols %}
      {% for j in 0..rows %}
        {% set flipper4x = flipper4x|merge([ (i-4+j*4)-1 ]) %}
      {% endfor %}
    {% endfor #}

console.log(JSON.stringify(col));




</script>


<!--$(window).bind("resize",function(){
	var width = $(window).innerWidth();
	switch(true) {
		case(width < xxx):
		//your changes here
		break;
		case(width > xxx):
		//your changes here
		break;
		default:
		//your changes here
		}
});   -->

  </body>
</html>
