<footer class="column">
    <hr />
    <div class="card col-12">
        {{ markdown(theme.footerhtml) }}
    </div>

</footer>

    <!-- jQuery first, then Popper, then Bootstrap JS. -->
    <script src={{ asset('js/jquery-3.2.1.slim.min.js', 'theme') }}></script>
    <script src={{ asset('js/popper.min.js', 'theme') }}></script>
    <script src={{ asset('js/bootstrap.min.js', 'theme') }}></script>
    <script src={{ asset('js/flexcards.js', 'theme') }}></script>

<div id="spinner" class="loading">Loading&#8230;</div>
  </body>
</html>
