<footer class="column">
    <hr />
    <div class="card col-12">
        <p>{{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with <strong>Bolt</strong></a>.",{'%url%':'http://bolt.cm'}) }}
        Theme <a href='https://github.com/sablonier/flexcards' target='_blank' title='fork on github'>flexcards</a> built with Bootstrap 4 (alpha 6) and jQuery. (c) 2017 Yves Sablonier, Zurich (MIT License)
        </p>
    </div>

    {{ widgets('footer') }}

</footer>
	
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src={{ asset('js/jquery-3.1.1.slim.min.js', 'theme') }}></script>
    <!--<script src={{ asset('js/tether.min.js', 'theme') }}></script>-->
    <script src={{ asset('js/bootstrap.min.js', 'theme') }}></script>
    <script src={{ asset('js/flexcards.js', 'theme') }}></script>

  </body>
</html>
