	
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src={{ asset('js/jquery-3.1.1.slim.min.js', 'theme') }}></script>
    <script src={{ asset('js/tether.min.js', 'theme') }}></script>
    <script src={{ asset('js/bootstrap.min.js', 'theme') }}></script>
    

<script>
console.log("Width: " + $(window).innerWidth());
console.log("Boxes: " + "{{cards|length}}");

var ids = {{ ids|json_encode|raw }};

var col = [[],[],[],[]];

for (i = 0; i < ids.length; i+=1) {
    if (i % 4 == 0) {
        for (j = 0; j < 4; j += 1) {
            if (ids[i+j] != null) {col[j].push(ids[i+j])};
        }
    }
}

function sortLayout(cols) {
    for (i = 0; i < cols-1; i+=1) {
        $('#'+col[0][i]).append($('#'+col[0][i+1]));
        $('#'+col[1][i]).append($('#'+col[1][i+1]));
        $('#'+col[2][i]).append($('#'+col[2][i+1]));
        $('#'+col[3][i]).append($('#'+col[3][i+1]));
    }
}

$(window).resize( function() {
	var width = $(window).innerWidth();
	switch(true) {
		case(width > 1200):
		sortLayout(4);
		break;
		case(width > 1200):
		sortLayout(4);
		break;
		default:
		sortLayout(4);
		}
});

sortLayout(4)

console.log(JSON.stringify(col));

</script>


<!--$(window).bind("resize",function(){
	var width = $(window).innerWidth();
	switch(true) {
		case(width < xxx):
		//your changes here
		break;
		case(width > xxx):
		//your changes here
		break;
		default:
		//your changes here
		}
});   -->

  </body>
</html>
