	
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src={{ asset('js/jquery-3.1.1.slim.min.js', 'theme') }}></script>
    <script src={{ asset('js/tether.min.js', 'theme') }}></script>
    <script src={{ asset('js/bootstrap.min.js', 'theme') }}></script>
    

<script>
//console.log("Width: " + $(window).innerWidth());
//console.log("Boxes: " + "{{boxes|length}}");

var vertical = {{ vertical|json_encode|raw }};
var h4x = {{ horizontal4x|json_encode|raw }};
var h3x = {{ horizontal3x|json_encode|raw }};
var h2x = {{ horizontal2x|json_encode|raw }};

function splitColumns(records, rows) {
    
    var arrays = [];
    
    while (records.length > 0)
    arrays.push(records.splice(0, rows));
    console.log('Original: '+JSON.stringify(arrays));
    
    // Case we get not the max. of rows -> want matrix i.e. (3,3,2,2) and not (3,3,3,1)
    if (arrays[arrays.length-1].length == 1 && arrays[0].length > 1) {
        for (i = 0; i < arrays[arrays.length-1].length; i++) {
            arrays[arrays.length-2].push(arrays[arrays.length-1][i]);
        }
        arrays.splice(3,1);
        arrays.push(arrays[arrays.length-1].splice(2, 2));
        console.log('Letztes Array hat nur 1 Wert: '+ JSON.stringify(arrays));
    }
        
    console.log('Modifiziert: ' + JSON.stringify(arrays));
        
    return arrays;
} 

function sortLayout(layout, rows, cols) {
    var cols = splitColumns(layout, rows);
    for ( j = 0;j < rows; j++) {
        for (i = 0; i < cols.length; i++) {
            $('#'+cols[i][j]).append($('#'+cols[i][j+1]));
        }
    }
    return;
}

// Doing the layout and recalc the rows (records, rows, cols)
//sortLayout(h4x, 3);
//sortLayout(h2x, 6);

var rows4x = Math.ceil(h4x.length/4, 0);
sortLayout(h4x, rows4x, 4);



</script>


<!--$(window).bind("resize",function(){
	var width = $(window).innerWidth();
	switch(true) {
		case(width < xxx):
		//your changes here
		break;
		case(width > xxx):
		//your changes here
		break;
		default:
		//your changes here
		}
});   -->

  </body>
</html>
