   <nav class="navbar navbar-toggleable-md navbar-light fixed-top bg-faded">
   
      <!-- Responsive Toggle -->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Brand -->
      <a class="navbar-brand" href="/#">
        {% if theme.logo %}
            <img src="{{ asset(theme.logo, 'theme') }}" width="33" height="33" class="d-inline-block align-top" alt=""> 
        {% endif %}   
            {{ app.config.get('general/sitename') }}   
      </a>
      
      <!-- Menu -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        {{ menu('main', 'partials/_menu.twig') }}
        
      <!-- Search -->  
        <form class="form-inline my-2 my-lg-0" method="get" action="{{ path('search') }}" id="searchform-inline" enctype="text/plain">
        <div class="input-group">
            <input type="search" class="form-control" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">{{ __('general.phrase.search') }}</button>
            </span>
        </div>
        </form>
      </div>
      
    </nav>
