<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css', 'theme') }}">
    <!-- Flexcards CSS -->
    <link rel="stylesheet" href="{{ asset('css/flexcards.css', 'theme') }}">
  </head>
  <body>
	<div class="container-fluid">
		<div class="card-columns p-2">
			{% setcontent boxes = 'entries/latest/10' %}
			{% for box in boxes %}
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">{{ box.title }}</h4>
					<img class="card-img" src="{{ thumbnail(box.image) }}">
					<p class="card-text">{{ box.teaser }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src={{ asset('js/jquery-3.1.1.slim.min.js', 'theme') }}></script>
    <script src={{ asset('js/tether.min.js', 'theme') }}></script>
    <script src={{ asset('js/bootstrap.min.js', 'theme') }}></script>
  </body>
</html>
