{% include 'partials/_header.twig' %}

  <body>
	  
{% include 'partials/_navbar.twig' %}

    {% setcontent cards = 'entries/latest/6' %}
    
    {% set ids = [] %}
    
    {% for key in cards|keys %}
        {% set ids = ids|merge([key]) %}
    {% endfor %}
	
	<div class="container-fluid">

</div>
    <div class="container-fluid">
		<div class="row">
			    {% for card in cards %}
			    <div class="col-12 col-md-6 col-lg-4 col-xl-3" >
			        <div class="card" id="{{card.id}}">
				        <div class="card-block">
						    <div>Id: {{card.id}}</div>
					        <h4 class="card-title">{{ card.title }}</h4>
					        <img class="card-img" src="{{ thumbnail(card.image) }}">
					        <p class="card-text">{{ card.teaser }}</p>
					        {{ link(card.link, "Read more") }}
				        </div>
			        </div>
			     </div>
			    {% endfor %}
        </div>
    </div>

{% include 'partials/_footer.twig' %}
