{% include 'partials/_header.twig' %}

  <body>
	  
{% include 'partials/_navbar.twig' %}
    
    {% set vertical = [] %}
    {% set horizontal = [] %}
    
    {% setcontent boxes = 'entries/latest/12' %}
	{% for box in boxes %}
	  {% set vertical = vertical|merge([box.id]) %}
	{% endfor %}
    
    {% set cols = [1,2,3,4] %}
    {% set rows = [1,2,3] %}
    
    {% set flipper = [] %}
    
    {% for i in cols %}
      {% for j in rows %}
        {% set flipper = flipper|merge([ (i-(cols|length)+j*(cols|length))-1 ]) %}
      {% endfor %}
    {% endfor %}
    
    {% for i in vertical|keys %}
      {% set horizontal = horizontal|merge([vertical[flipper[i]]]) %}
    {% endfor %}
	
	<div class="container-fluid">
    
        <div class="row">
			{% set rowstart = 0 %}
			{% for col in cols|keys %}
            <div class="col-3" >
				{% for key in horizontal|keys|slice(rowstart, rows|length) %}
				{{ dump(horizontal[key]) }}
			    {% setcontent boxy = 'entry/%this%'|replace({'%this%': horizontal[key]}) %}
			    <div class="card">
				    <div class="card-block">
					    <h4 class="card-title">{{ boxy.title }}</h4>
					    <img class="card-img" src="{{ thumbnail(boxy.image) }}">
					    <p class="card-text">{{ boxy.teaser }}</p>
					    {{ link(boxy.link, "Read more") }}
				    </div>
			    </div>
			    <p></p>
			    {% endfor %}
			    {% set rowstart = rowstart+rows|length %}
            </div>
            {% endfor %}
            
        </div>
        
    
    </div>
    
		

{% include 'partials/_footer.twig' %}
