<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
	<div class="container-fluid">
		<div class="card-columns p-2">
			{% setcontent boxes = 'entries/latest/10' %}
			{% for box in boxes %}
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">{{ box.title }}</h4>
					{% if imageinfo(box.image).landscape %}
					<img src="{{ thumbnail(box.image, 300, 200) }}" class="landscape">
					{% elseif imageinfo(box.image).portrait %}
					<img src="{{ thumbnail(box.image, 200, 300) }}" class="portrait">
					{% else %}
					<img src="{{ thumbnail(box.image, 300, 300) }}" class="square">
					{% endif %}
					<p class="card-text">{{ box.teaser }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
