{% include 'partials/_header.twig' %}

  <body>
	  
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <!-- Image as brand -->
  <a class="navbar-brand" href="#">
    <img src="{{ asset('brand/flexcard.svg', 'theme') }}" width="30" height="30" alt="">
  </a>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
	  
	<div class="container-fluid">

		<div class="card-columns p-2">
			{% setcontent boxes = 'entries/latest/10' %}
			{% for box in boxes %}
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">{{ box.title }}</h4>
					<img class="card-img" src="{{ thumbnail(box.image) }}">
					<p class="card-text">{{ box.teaser }}</p>
					{{ link(box.link, "Read more") }}
				</div>
			</div>
			{% endfor %}
		</div>
		
	</div>

{% include 'partials/_footer.twig' %}
