{% include 'partials/_header.twig' %}

  <body>
	  
{% include 'partials/_navbar.twig' %}
    
    {% set vertical = [] %}
    {% set horizontal = [] %}
    {% setcontent boxes = 'entries/latest/1' %}
	{% for box in boxes %}
	  {% set vertical = vertical|merge([box.id]) %}
	{% endfor %}
	{% set horizontal = [vertical[0],vertical[4],vertical[8],vertical[1],vertical[5],vertical[9],vertical[2],vertical[6],vertical[3],vertical[7]] %}
    
    {# {{ dump('vertical',vertical) }}
    {{ dump('horizontal',vertical) }} #}

</div>	
	
	<div class="container-fluid">
    
    <div class="row">
    <div class="col-3" >
	{% set fst = horizontal|length-1 %}
    {% for i in 0..fst*0.3 %}
			{% setcontent boxy = 'entry/%this%'|replace({'%this%': horizontal[i]}) %}
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">{{ boxy.title }}</h4>
					<img class="card-img" src="{{ thumbnail(boxy.image) }}">
					<p class="card-text">{{ boxy.teaser }}</p>
					{{ link(boxy.link, "Read more") }}
				</div>
			</div>
			<p></p>
	{% endfor %}
    </div>
    <div class="col-3">
    {% for i in fst*0.4..fst*0.6 %}
			{% setcontent boxy = 'entry/%this%'|replace({'%this%': horizontal[i]}) %}
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">{{ boxy.title }}</h4>
					<img class="card-img" src="{{ thumbnail(boxy.image) }}">
					<p class="card-text">{{ boxy.teaser }}</p>
					{{ link(boxy.link, "Read more") }}
				</div>
			</div>
			<p></p>
	{% endfor %}
    </div>
    <div class="col-3">
    {% for i in fst*0.7..fst*0.9 %}
			{% setcontent boxy = 'entry/%this%'|replace({'%this%': horizontal[i]}) %}
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">{{ boxy.title }}</h4>
					<img class="card-img" src="{{ thumbnail(boxy.image) }}">
					<p class="card-text">{{ boxy.teaser }}</p>
					{{ link(boxy.link, "Read more") }}
				</div>
			</div>
			<p></p>
	{% endfor %}
    </div>
    <div class="col-3">
    {% for i in fst*0.9..fst*1.1 %}
			{% setcontent boxy = 'entry/%this%'|replace({'%this%': horizontal[i]}) %}
			<div class="card">
				<div class="card-block">
					<h4 class="card-title">{{ boxy.title }}</h4>
					<img class="card-img" src="{{ thumbnail(boxy.image) }}">
					<p class="card-text">{{ boxy.teaser }}</p>
					{{ link(boxy.link, "Read more") }}
				</div>
			</div>
			<p></p>
	{% endfor %}
    </div>
  </div>
		

{% include 'partials/_footer.twig' %}
