{% include 'partials/_header.twig' %}

<body>

{% set ids = [] %}
   
{% include 'partials/_navbar.twig' %}

<div class="container-fluid">
    <div class="row">
        
        {# first wide column with page content  #}
        {# ------------------------------------ #}
        
        <div class="col-sm-12 col-md-9 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ record.title }}</h4>
                
                {# image #}
                {# ----- #}
                {% if record.image is not empty %}

                {# Get width and height of origin via imageinfo #}
                {% set oimage = {'height': imageinfo(record.image).height, 'width': imageinfo(record.image).width } %}

                {# Set breakpoints (widths), change values for your own breakpoints #}
                {% set rwidth = {'small': '480', 'medium': '640', 'large': '1024', 'xlarge': '1400'} %}

                {# Calculate individual image heights for breakpoints (proportional) #}
                {% set rheight = {'small': oimage.height*rwidth.small/oimage.width, 'medium': oimage.height*rwidth.medium/oimage.width, 'large': oimage.height*rwidth.large/oimage.width, 'xlarge': oimage.height*rwidth.xlarge/oimage.width } %}
                    
                    <picture>
                        <source media="(max-width: {{rwidth.small}}{{'px'}})" srcset="{{ record.image|thumbnail(rwidth.small, rheight.small, 'r') }}">
                        <source media="(max-width: {{rwidth.medium}}{{'px'}})" srcset="{{ record.image|thumbnail(rwidth.medium, rheight.medium, 'r') }}">
                        <source media="(max-width: {{rwidth.large}}{{'px'}})" srcset="{{ record.image|thumbnail(rwidth.large, rheight.large, 'r') }}">
                        <source media="(max-width: {{rwidth.xlarge}}{{'px'}})" srcset="{{ record.image|thumbnail(rwidth.xlarge, rheight.xlarge, 'r') }}">
                        <img src="{{ record.image|thumbnail(rwidth.xlarge, rheight.xlarge, 'r') }}" alt="{{ record.imagetitle }}">
                    </picture>
                    
                {# caption #}
                {# ------- #}
                {# you will need to define a image caption text field in your contenttype #}
                {# to make this showing up, default bolt install has no caption per image #}
                {% if record.imagecaption %}<p class="small">{{ record.imagecaption }}</p>{% endif %}
                {% endif %}
                
                <p class="card-text">{{ record.body }}</p>
             </div>
           </div>
        </div>
        
        {# second column with entries related to page   #}
        {# -------------------------------------------- #}
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
        
            {# show related entries #}
            {# -------------------- #}
            {% set relatedrecords = record.related() %}
            {% if relatedrecords is not empty %}
            {% for card in relatedrecords %}
               {% include 'partials/_card_simple.twig' %}
            {% endfor %}
            {% endif %}
            
            {# show other records with same tags #}
            {# --------------------------------- #}
            {% if record.taxonomy.tags is defined %}
            <div class="card">
              <div class="card-block">
              <h3>Related by tags</h3>
              {% set alreadyhere = [] %}
              {% for tag in record.taxonomy.tags %}
                 {% setcontent tagrelatedrecords = 'entries' where { id: '!'~record.id~'' } %}
                     {% for related in tagrelatedrecords %}
                         {% if (tag) in related.taxonomy.tags and (related.id) not in alreadyhere %}
                         <h4><a href="{{ related.link }}">{{ related.title }}</a></h4>
                         {% set alreadyhere = alreadyhere|merge([related.id]) %}
                         {% endif %}
                     {% endfor %}
              {% endfor %}         
              </div>
            </div>
            <p></p>
            {% endif %}
            
        </div>
        
        {# third column with blocks #}
        {# ------------------------ #}
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            {% setcontent cards = 'blocks/latest/2' %}
            {% for card in cards %}
               {% include 'partials/_card_simple.twig' %}
            {% endfor %}
        </div>
    </div>
</div>

{% include 'partials/_footer.twig' %}
