{% include 'partials/_header.twig' %}

<body>

{% set ids = [] %}
	  
{% include 'partials/_navbar.twig' %}

<div class="container-fluid">
    <div class="row">
        <div class="card col-3">
            <div class="card-block">
                 {% set relatedrecords = record.related() %}
                 <h4 class="card-title">Related content</h4>
                 {% if relatedrecords is not empty %}
                 <ul>
                    {% for related in relatedrecords %}
                    <li><a href="{{ related.link }}">{{ related.title }}</a></li>
                    {%  endfor %}
                 </ul>
                 {% endif %}
            </div>
        </div>
        <div class="card col-6">
            <div class="card-block">
                 <h4 class="card-title">{{ record.title }}</h4>
                 {% if record.image!="" %}
                 <a href="{{ image(record.image) }}">
                     <img class="card-img" src="{{ thumbnail(record.image) }}">
                 </a>
                 {% endif %}
                 <p class="card-text">{{ record.body }}</p>
             </div>
        </div>
        <div class="card col-3">
            <div class="card-block">
                 <h4 class="card-title">Taxonomies</h4>
                 {% if record.taxonomy.tags is defined %}
                 {% for tag in record.taxonomy.tags %}
                     <p class="card-text">{{ tag }}{% if not loop.last %}, {% endif %}</p>
                 {% endfor %}
                 {% endif %}
            </div>
        </div>
    </div>
</div>

{% include 'partials/_footer.twig' %}
