{% include 'partials/_header.twig' %}

<body>

{% set ids = [] %}
   
{% include 'partials/_navbar.twig' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <div class="card">
            <div class="card-block">
                 {% set relatedrecords = record.related() %}
                 <h4 class="card-title">Related content</h4>
                 {% if relatedrecords is not empty %}
                 <ul>
                    {% for related in relatedrecords %}
                    <li><a href="{{ related.link }}">{{ related.title }}</a></li>
                    {%  endfor %}
                 </ul>
                 {% endif %}
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-6 col-xl-6">
          <div class="card">
            <div class="card-block">
                 <p>
                <small class="text-muted"><strong>{{ card.datepublish|localedatetime("%A %B %e") }}</strong> by {{ record.user.username }}<br>
                {% if record.taxonomy.tags is defined %}
                    {% for tag in record.taxonomy.tags %}
                         <a href="/tags/{{ tag }}"><span style="background: #eeeede; margin-right: 2px; padding: 2px;">{{ tag }}</span></a>
                    {% endfor %}
                {% endif %}
                </small>
                </p>
                <h4 class="card-title">{{ record.title }}</h4>
                {% if record.image!="" %}
                <a href="{{ image(record.image) }}">
                    <img class="card-img" src="{{ thumbnail(record.image) }}" width="100%">
                </a>
                {% endif %}
                <p class="card-text">{{ record.body }}</p>
             </div>
           </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
            {% setcontent cards = 'blocks/latest/2' %}
            {% for card in cards %}
               {% include 'partials/_card_simple.twig' %}
            {% endfor %}
        </div>
    </div>
</div>

{% include 'partials/_footer.twig' %}
