{% include 'partials/_header.twig' %}

    <body>
    
    {% set ids = [] %}
	  
{% include 'partials/_navbar.twig' %}
	  
	<div class="container-fluid">
	
        <h2>
            {% if search is not empty %}
                {{ __('general.phrase.search-results-for-variable', { '%search%': search }) }}
            {% else %}
                {{ __('general.phrase.search') }}
            {% endif %}
        </h2>

		<div class="card-columns p-2">
			{% for card in records %}
			<div class="card">
				<div class="card-block">
			    <p>
                    <small class="text-muted"><strong>{{ card.datepublish|localedatetime("%A %B %e") }}</strong> by {{ card.user.username }}<br>
                    {% if card.taxonomy.tags is defined %}
                         {% for tag in card.taxonomy.tags %}
                         <span style="background: #eeeede">{{ tag }}</span>{% if not loop.last %} {% endif %}
                         {% endfor %}
                    {% endif %}
                    </small>
                </p>
					<h4 class="card-title"><a href="{{ card.link }}">{{ card.title }}</a></h4>
					{% if card.image!="" %}
					<a href="{{ image(card.image) }}">
					   <img class="card-img" src="{{ thumbnail(card.image) }}">
					</a>
					{% endif %}
					<p class="card-text">{{ card.excerpt(300, false, search|default('')) }}</p>
				</div>
			</div>
		    {% else %}
		    <div class="card">
				<div class="card-block">
                    <p class="card-text">{{ __('general.phrase.no-result-for-search-term', { '%SEARCHTERM%': search|escape }) }}</p>
				</div>
			</div>
            {% endfor %}
		</div>
		
        
{% include 'partials/_footer.twig' %}
